.companias_section {
  color: white;
}

.companias_section > h2{
  margin-bottom: clamp(2rem, 4vw, 4rem);
}
.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.logos > img {
  width: clamp(12rem, 20vw, 18rem);
  transition: transform 0.5s;
}

.logos > img:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .logos {
    grid-template-columns: repeat(1, 1fr); 
  }
}