.portada_section {
  position: relative;
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animación del título*/

.titulo {
  position: absolute;
  color: white;
  text-align: center;
  top: 10px;
  animation: text-shadow-pop-bottom 2s both;
}

@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #5555555c, 0 0 #5555555c, 0 0 #5555555c, 0 0 #5555555c,
      0 0 #5555555c, 0 0 #5555555c, 0 0 #5555555c, 0 0 #5555555c;
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 0.5px #5555555c, 0 1px #5555555c, 0 1.5px #5555555c,
      0 2px #5555555c, 0 2.5px #5555555c, 0 3px #5555555c, 0 3.5px #5555555c,
      0 4px #5555555c;
    transform: translateY(-6px);
  }
}

.img_portada {
  width: 100%;
  max-height: 250px;
}

/* Formulario de búsqueda  */
.formulario_busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
  margin-top: 5rem;
  gap: 35px;
}

.form-div {
  width: 300px;
  height: 37.33px;
  flex-shrink: 0;
  color: white;
  position: relative;
}

label {
  position: absolute;
  top: -23px;
  transition: 0.3s;
  pointer-events: none;
}

input {
  background-color: rgba(217, 217, 217, 0.2);
  border: 3px solid white;
  border-radius: 8px;
  width: 300px;
  height: 38px;
  padding: 0.8rem;
  color: rgb(86, 86, 86);
}

select {
  background-color: rgba(217, 217, 217, 0.2);
  border: 3px solid white;
  border-radius: 8px;
  width: 300px;
  height: 38px;
  padding: auto;
  color: rgb(86, 86, 86);
}

@media (min-width: 768px) {
  .titulo {
    margin-top: 60px;
  }
}