@import "./menu.css";

.navbar{
  width: 100%;
  height: 40px;
  background-color: rgb(2, 48, 71, 70%);
  display: flex;
  justify-content: space-between;
}

.syl_logo{
  width: 3rem;
  margin-right: 10px;
}

