.ofertas-cards {
  font-family: var(--font-secondary);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-content: center;
}

.ofertas-card-1,
.ofertas-card-2,
.ofertas-card-3,
.ofertas-card-4 {
  width: 296px;
  height: 209px;
  margin: 10px auto;
  text-align: center;
  border-radius: 30px;
}

.ofertas-card-1 {
  background-image: url("../assets/img/ofertas-card-1.webp");
}

.ofertas-card-2 {
  background-image: url("../assets/img/ofertas-card-2.webp");
}

.ofertas-card-3 {
  background-image: url("../assets/img/ofertas-card-3.webp");
}

.ofertas-card-4 {
  background-image: url("../assets/img/ofertas-card-4.webp");
}

.ofertas-card-content {
  border-radius: 30px;
  width: 296px;
  height: 209px;
  background: hsla(0, 0%, 100%, 0.056);
}

.ofertas-cards h3 {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-secondary);
}

.ofertas-cards p {
  margin-top: 50px;
  padding: 20px;
  color: var(--color-secondary);
}

@media (min-width:700px) {
    .ofertas-cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1300px) {
    .ofertas-cards {
        grid-template-columns: repeat(4,1fr);
    }
}
