@import "./variables.css";
@import "./navbar.css";
@import "./home.css";
@import "./ofertas.css";
@import "./puertos.css";
@import "./companias_section.css";
@import "./nosotros.css";
@import "./destacados.css";
@import "./formulario.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/img/fondo.webp);
  background-size: cover;
}

header{
  width: 100%;
}

section h2 {
  text-align: left;
  margin: 60px 5px 15px 10px ;
  font-family: var(--font-primary);
  color: var(--color-primary);
}
